In [18]:
import sqlite3

# Connect to SQLite database 
connection = sqlite3.connect('sql_challenge.db')

# Create a cursor object
cursor = connection.cursor()

In [19]:
# SQL code
sql_code = """
DROP TABLE IF EXISTS departments;
DROP TABLE IF EXISTS dept_emp;
DROP TABLE IF EXISTS dept_manager;
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS salaries;
DROP TABLE IF EXISTS titles;

CREATE TABLE departments (
    dept_no varchar PRIMARY KEY NOT NULL,
    dept_name varchar NOT NULL
);

CREATE TABLE titles (
    title_id varchar PRIMARY KEY NOT NULL,
    title varchar NOT NULL
);

CREATE TABLE employees (
    emp_no int PRIMARY KEY NOT NULL,
    emp_title_id varchar NOT NULL,
    birth_date varchar NOT NULL,
    first_name varchar NOT NULL,
    last_name varchar NOT NULL,
    sex varchar NOT NULL,
    hire_date varchar NOT NULL,
    FOREIGN KEY (emp_title_id) REFERENCES titles (title_id)
);

CREATE TABLE dept_emp (
    emp_no int PRIMARY KEY NOT NULL,
    dept_no varchar NOT NULL,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no),
    FOREIGN KEY (dept_no) REFERENCES departments (dept_no)
);

CREATE TABLE dept_manager (
    emp_no int PRIMARY KEY NOT NULL,
    dept_no varchar NOT NULL,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no),
    FOREIGN KEY (dept_no) REFERENCES departments (dept_no)
);

CREATE TABLE salaries (
    emp_no int PRIMARY KEY NOT NULL,
    salary int NOT NULL,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no)
);
"""

In [20]:
# Execute the SQL code
cursor.executescript(sql_code)

# Commit the changes
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()